@import '../styles/index';

.tab {
  font-size: 32px;
  font-weight: bold;
  color: #999999;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  white-space: nowrap;
  width: 100%;
  background: #fff;
  height: 89px;
}

.item {
  height: 87px;
  border-bottom: 1px solid transparent;
  font-size: 32px;
  cursor: pointer;
  margin: 0 20px;
  padding: 0 10px;
}

.active {
  color: @brand-primary;
  border-bottom: 1px solid @brand-primary;
}
