.index {
  opacity: 0;
  pointer-events: none;
  display: flex;
}

.fixed {
  position: fixed;
  z-index: 2;
  bottom: 0;
  &:nth-child(2) {
    top: 0;
  }
  &:last-of-type {
    top: initial;
    bottom: 0;
  }
}
.fixedIndex {
  opacity: 1;
  pointer-events: auto;
}
