@import '../styles/index';

.menu {
  display: flex;
  flex: 1;
  margin-top: 20px;
  align-items: stretch;
  align-self: stretch;
  background-color: #fff;
}

.leftItem {
  width: 324px;
  height: 98px;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  padding-left: 55px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: transparent;
  &:active {
    background-color: #eee;
  }
}

.leftActive {
  background-color: #fff;
  border-left-color: @brand-primary;
}

.rightItem {
  height: 98px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  color: #666666;
  border-bottom: 1px solid #e2e2e2;
  &:active {
    opacity: 0.6;
  }
}

.left {
  background: #f0f3f6;
  overflow-y: scroll;
  flex-direction: column;
}

.right {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 42px;
}

.elderly {
  font-weight: bold;
  .leftItem,
  .rightItem {
    font-size: 40px;
  }
  .leftItem {
    border-left-width: 8px;
  }
}
