@brand-color: #277fd9;
@light-base: #fff;
@gray-base: #eeeeee;

.annaRadio {
  margin: 30px 0;
  margin-right: 30px;
  max-width: 100%;
  font-size: 26px;
}
.annaRadioBtn {
  max-width: 100%;
  border-radius: 39px;
  border: 1px solid #eeeeee;
  height: 78px;
  padding: 0 40px;
  background: #fff;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.annaRadioContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.annaRadioContainerRadio {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 20px;
}
.annaRadioContainerRadioCheck {
  border-style: solid;
  border-width: 11px;
}
.annaRadioContainerChildren {
  font-size: 30px;

  color: #666666;
  font-weight: bold;
  white-space: nowrap;
}
.annaRadioContainerChildrenChecked {
  color: #fff;
}
