@brand-color: #277fd9;
@light-base: #fff;
@gray-base: #eeeeee;

.annaRadio {
  margin: 30px 0;
  margin-right: 30px;
  width: 40%;
  font-size: 26px;
  &:nth-last-child(1) {
    margin-right: 0;
  }
}
.annaRadioContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.annaRadioContainerNotChecked {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: @gray-base;
}
.annaRadioContainerChecked {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: @light-base;
  border-width: 11px;
  border-style: solid;
}
.annaRadioContainerChildren {
  font-size: 30px;
  margin-left: 20px;
  color: #666666;
  font-weight: bold;
  white-space: nowrap;
}
.annaRadioContainerChildrenChecked {
  color: @brand-color;
}
