.icon {
  font-size: 32px;
}

.title {
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
}

.text {
  font-size: 26px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
  line-height: 36px;
}
