@import '../styles/index';

.button {
  max-height: 98px;
  min-height: 98px;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 36px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  padding: 0 11px;
  user-select: none;
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }
}

.bold {
  font-weight: bold;
}

.block {
  display: flex;
  width: 100%;
  flex: 1;
}

.ghost {
  background-color: transparent;
}

.round {
  border-radius: 59px;
}

.loading {
  pointer-events: none;
}

.disable {
  pointer-events: none;
  background-color: #cccccc;
  border-color: #cccccc;
  color: #fff;
}

.small {
  max-height: 78px;
  min-height: 78px;
  font-size: 30px;
  padding: 0 27px;
}

.tiny {
  max-height: 70px;
  min-height: 70px;
  font-size: 32px;
  padding: 0 27px;
}

.action {
  min-width: 152px;
  max-height: 74px;
  min-height: 74px;
  border-radius: 10px;
  font-size: 26px;
  width: auto;
  flex: none;
}

.default {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  color: #999999;
}

.ghost.default {
  background-color: transparent;
}

.noBorder {
  border: none;
}

.elderly {
  &.button {
    font-size: 41px;
  }
  &.action {
    max-height: 116px;
    background: #00b8a9 !important;
    border-radius: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    border-color: #00b8a9 !important;
  }
}

.group {
  .button {
    width: auto;
    flex: initial;
  }
  .button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
