.item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  color: #333;
  font-size: 30px;
  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    .children {
      width: 100%;
    }
    &.cell {
      .children {
        margin-top: 10px;
        border-top: 1px solid #eee;
        padding-top: 20px;
      }
    }
    &.card {
      margin: 20px 0 0;
      .labelWrap {
        margin-bottom: 10px;
      }
    }
  }
}

.children {
  color: #666;
  flex: 1;
  :global {
    //div:not(div[class]) {
    //  width: 100%;
    //}
    picker {
      width: 100%;
    }
    .picker-children {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      //max-width: 50vw;
      height: 70px;
      align-items: center;
      white-space: break-spaces;
    }
  }
}
.colon {
  padding: 0 10px;
  display: inline-block;
  position: relative;
  top: -2px;
}

.cell {
  min-height: 88px;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  &:last-child {
    border-bottom: none !important;
  }
}
.cell-label {
  margin-right: 20px;
}
.cell-children {
  display: flex;
  justify-content: space-between;
  text-align: right;
  textarea,
  input {
    text-align: right;
    flex: 1;
  }
  textarea {
    padding: 20px 0;
    box-sizing: border-box;
  }
}
.cell-children-left {
  justify-content: flex-start;
  input {
    text-align: left;
  }
}

.labelWrap {
  display: flex;
  align-items: center;
}

.label {
  display: inline-flex;
}
.after {
  margin-left: 10px;
  display: inline-flex;
}

.mark {
  color: #ea5328;
  display: inline-block;
  position: absolute;
  left: -0.5em;
}

.error {
  color: #ed4e56;
  .label {
    color: #ed4e56;
  }
  .children {
    color: #ed4e56;
  }
  input,
  textarea {
    color: #ed4e56;
    &::placeholder {
      color: #ed4e56;
    }
  }
}

.elderly {
  &.item {
    font-size: 40px;
  }
  &.cell {
    min-height: 118px;
  }
  .label {
    color: #666666;
    margin-right: 0 !important;
  }
  .children {
    color: #333333;
    font-weight: bold;
  }
  &.error {
    .label,
    .children {
      .error;
    }
  }
  .colon {
    padding: 0;
    padding-right: 32px;
  }
}
