.item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  .children {
    flex: 1;
  }
  &.cell {
    padding: 20px 0;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid #e2e2e2;
    }
    .children {
      color: #999;
      display: flex;
      justify-content: flex-end;
      textarea,
      input {
        text-align: right;
      }
    }
  }
  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    .children {
      width: 100%;
    }
    &.cell {
      .children {
        margin-top: 10px;
        border-top: 1px solid #eee;
        padding-top: 20px;
      }
    }
  }
}

.label {
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
  display: inline-flex;
}

.mark {
  color: #ea5328;
  display: inline-block;
  position: absolute;
  left: -0.5em;
}

.labelText {
  display: inline-block;
}
