@import '../styles/index';

.part {
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.block {
  width: 9px;
  height: 28px;
  background: @brand-primary;
  &.round {
    width: 8px;
    height: 19px;
    border-radius: 4px;
  }
}

.title {
  margin-left: 12px;
}

.today {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
}

.mark {
  font-size: 30px;
  font-weight: bold;
  color: #d95e38;
  position: relative;
  top: -8px;
}

.elderly {
  .title {
    font-size: 42px;
    line-height: 1;
  }
  .block {
    width: 9px;
    height: 38px;
  }
}
