.noticeBarBox {
  padding: 20px;
  font-size: 26px;
  display: flex;
  align-items: center;
}
.noticeBarTitle {
  padding: 0 20px;
}
.noticeContent {
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  height: 40px;
}
.noticeInner {
  white-space: nowrap;
  display: inline;
  position: absolute;
  top: 50%;
  left: 0;
}
