@import '../styles/index';
@light-base: #fff;
@gray-base: #eeeeee;

.checkBox {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #666666;
  white-space: nowrap;
  line-height: 40px;
  margin: 15px 0;
  margin-right: 20px;
}
.pic {
  width: 40px;
}
.box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  border-radius: 5px;
  background-color: #e2e2e2;
}
.round {
  border-radius: 50% !important;
}
.active {
  background-color: @brand-primary;
}
.btn {
  max-width: 100%;
  border-radius: 42px;
  border: 1px solid #eeeeee;
  height: 84px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.activebtn {
  background-color: @brand-primary;
  color: @light-base;
}
.disabled {
  opacity: 0.7;
}
